<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>pick your best title!</mat-label>
    <input formControlName="title" matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>where did you visited?</mat-label>
    <input formControlName="place" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose start date</mat-label>
    <input formControlName="start_date" matInput [matDatepicker]="startpicker">
    <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
    <mat-datepicker #startpicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field id="end_date_picker">
    <mat-label>Choose end date</mat-label>
    <input formControlName="end_date" matInput [matDatepicker]="endpicker">
    <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
    <mat-datepicker #endpicker></mat-datepicker>
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>tell us what you want about your trip! you can extend the text area from right down corner</mat-label>
    <textarea formControlName="notes" matInput></textarea>
  </mat-form-field>
  <div *ngIf="f.notes.errors && f.notes.touched">
    This part must be at least 250 characters long.
  </div>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="tag selection">
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="tags" #fruitInput [formControl]="tagCtrl" [matAutocomplete]="auto"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="seperatorKeyCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button *ngIf="f.notes.errors" [disabled]="true" class="button" type="submit" mat-raised-button color="primary">Check
    your form</button>
  <button *ngIf="!f.notes.errors" class="button" type="submit" mat-raised-button color="primary">Share with
    other</button>
</form>