<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="text-center center-block navbar-light bg-light  " id="footer">
  <br />
  <a href="#"><i id="social-fb" class="fa fa-github fa-3x social"></i></a>
  <a href="#"><i id="social-tw" class="fa fa-linkedin fa-3x social"></i></a>
  <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
      class="fa fa-google-plus-square fa-3x social"></i></a>
  <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>